@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes white-shine {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }

    .shine-effect {
        color: white;
    }

    .shine-effect::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 150%;
        background: linear-gradient(
                120deg,
                transparent 0%,
                rgba(255, 255, 255, 0.4) 50%,
                transparent 100%
        );
        animation: white-shine 7s linear infinite;
        pointer-events: none;
        z-index: 0;
        filter: blur(8px);
        opacity: 0.7;
    }
}
